@{
    ViewBag.Title = "About";
}
<section class="hero-section" id="section_1">
    <div class="section-overlay"></div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-12 mt-auto mb-5 text-center " style="background-image: url('../../Images/Opacity2.png')">
                <small>About</small>

                <h1 class="mb-5" style="color:#EE5007">Orange</h1>
                <h4 class="text-white">Coding Academy Students</h4>
            </div>

        </div>
    </div>

    <div class="video-wrap">

        <img src="~/Images/card1.jpg" class="custom-video" />

    </div>
</section>
<section>
    <div class="container" style="background-color: #E6E6E6;padding-top:50px; padding-inline:20px; margin-top:20px;">
        <h2 style="color: #EE5007 ;text-align:center">
            Who We Are?
        </h2>
        <h4>
            Orange Coding Academy
        </h4>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
        </p>
        <h4>  Our vision: </h4>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
        </p>
        <h4>  Our message:</h4>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
            We seek a sports community.
            We always strive to serve you to the fullest, our motto is customer satisfaction.
            If we do well, then talk about us, and if we fail, then talk to us.
        </p>
       
    </div>
   
</section>
