
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body{
        background-image:url('../../Images/Slider.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
    footer{display:none;}
</style>
<section>
    <div style="height:80px;">

    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="background-image:url('../../Images/opacity.png')">
        <h4 style="margin-top: 40px; color: #EE5007">To complete your registreation please fill your information</h4>
        <div class="col-md-5" style="margin-top:70px;">
            <div class="d-flex col-12 justify-content-center align-items-center">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Full Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Job title</label>
                        <div class="col-md-10">
                            <select name="cars" id="cars" class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Langueges</label>
                        <div class="col-md-10">
                            <select name="cars" id="cars" class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Soft Skills</label>
                        <div class="col-md-10">
                            <select name="cars" id="cars" class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Technical Skills</label>
                        <div class="col-md-10">
                            <select name="cars" id="cars" class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Education</label>
                        <div class="col-md-10">
                            <select name="cars" id="cars" class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">University</label>
                        <div class="col-md-10">
                            <select name="cars" id="cars" class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Major</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />

                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">BirthDate</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />

                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Gender</label>
                        <div class="col-md-10">
                            Female <input type="radio"  />
                            Male <input type="radio" />

                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-4 control-label">Upload Your CV</label>
                        <div class="col-md-10">
                            <input type="file" class="form-control" />

                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <label class="col-md-8 control-label">Write Brief About Your self:</label>
                        <div class="col-md-10">
                            <textarea class="form-control"></textarea>

                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <div class="col-md-offset-5 col-md-10">
                            <input type="submit" class="btn custom-btn d-lg-block d-none" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
