@{
    ViewBag.Title = "Home Page";
}


<section class="hero-section" id="section_1">
    <div class="section-overlay"></div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-12 mt-auto mb-5 text-center " style="background-image: url('../../Images/Opacity2.png')">
                <small>Find Your Best Employees By</small>

                <h1 class="mb-5" style="color:#EE5007">Orange</h1>
                <h4 class="text-white">Coding Academy Students</h4>
                <a class="btn custom-btn smoothscroll" style="margin-top:40px;" href="#section_2">Show Students Projects</a>
            </div>

        </div>
    </div>

    <div class="video-wrap">

        <img src="~/Images/Slider.jpg" class="custom-video" />

    </div>
</section>
<div style="height: 20px; background-color: #EE5007"></div>

@*<section class="about-section" style="padding-bottom:50px;padding-top:50px;" id="section_2">*@
@*<div class="container">
        <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
            <div class="date-wrap">
                <h5 class="text-white">

                    <i class="custom-icon bi-people me-2"></i>
                    More Than 70 students
                </h5>
            </div>

            <div class="location-wrap mx-auto py-3 py-lg-0">
                <h5 class="text-white">
                    <i class="custom-icon bi-person-workspace"></i>
                    10 Projects For Each Student
                </h5>
            </div>

            <div class="social-share">
                <ul class="social-icon d-flex align-items-center justify-content-center">
                    <span class="text-white me-3">Share:</span>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link">
                            <span class="bi-facebook"></span>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link">
                            <span class="bi-twitter"></span>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link">
                            <span class="bi-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>*@
@*</section>*@

<section class=" section-padding">

    <div class="container d-flex" style="justify-content:space-between;">
        <section class="col-3" style="max-width: 23rem;">

            <div class="card" style="background-color:black">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/card3.jpg" class="img-fluid" />
                </div>
                <div class="card-body" style="background-color:black">
                    <h5 class="card-title font-weight-bold" style="color: #EE5007"><a>Students Projects</a></h5>
                    <p class="text-white card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn custom-btn d-lg-block d-none">Button</a>
                </div>
            </div>

        </section>
        <section class="col-3" style="max-width: 23rem;">

            <div class="card" style="background-color:black">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/card2.jpg" class="img-fluid" />
                </div>
                <div class="card-body" style="background-color:black">
                    <h5 class="card-title font-weight-bold" style="color: #EE5007"><a>Students Journey</a></h5>
                    <p class="text-white card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn custom-btn d-lg-block d-none">Button</a>
                </div>
            </div>

        </section>
        <section class="col-3" style="max-width: 23rem;">

            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/card3.jpg" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold" style="color: #EE5007"><a>Meet Our Students</a></h5>
                    <p class=" card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn custom-btn d-lg-block d-none">Button</a>
                </div>
            </div>

        </section>

    </div>
</section>
<section class="artists-section " id="section_3">
    <div class="container-fluid" style="background-color: #E6E6E6">
        <div class="container">
            <div class="row">


                <div class="col-lg-6 col-12">
                    <div class="pricing-thumb">

                        <div class="d-flex">
                            <div>
                                <h3 style="text-decoration-line: underline; text-decoration-color: #EE5007">Who We Are</h3>

                                <p style="color:black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12" style="background-image:url(../../Images/orangecode.jpg)">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing-section section-padding">
    <div class="container">
        <h2 class="text-center mb-4">Students Projects</h2>

        <div class="d-flex" style="justify-content:space-between; flex-wrap:wrap">
            <div class="card" style="width: 18rem; margin-top:10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-top: 10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin-top: 10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin-top: 10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="artists-section " id="section_3">
    <div class="container-fluid" style="background-color: #E6E6E6">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12" style="background-image:url(../../Images/CODING.png)">
                </div>

                <div class="col-lg-6 col-12">
                    <div class="pricing-thumb">

                        <div class="d-flex">
                            <div>
                                <h3 style="text-decoration-line: underline; text-decoration-color: #EE5007">Why You Should Choose Our Students</h3>

                                <p style="color:black">Lorem Ipsum is simply dummy text of ther since the 1500s,rambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<section class="contact-section section-padding" id="section_6">

    <div class="client_section layout_padding" >
        <div class="container">
            <h1 class="client_taital">Meet Our Students</h1>
            <div class="client_section_2">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="client_main">
                                <div class="box_left">
                                    <p class="lorem_text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
                                    </p>
                                </div>
                                <div class="box_right">
                                    <div class="client_taital_left">
                                        <div class="client_img"><img style="width:150px" src="~/Images/Faten.jpg" /></div>
                                    </div>
                                    <div class="client_taital_right">
                                        <h4 class="client_name">Faten Kasasbeh</h4>
                                        <p class="customer_text">Full Stack</p>
                                    </div>
                                    <br />
                                    <a style=" margin-top: 10px; text-align: center;" class=" customer_text btn custom-btn d-lg-block d-none"> Show More</a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>




<section class="pricing-section section-padding " id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-center mb-4">What is different?</h2>
            </div>

            <div class="col-lg-6 col-12">
                <div class="pricing-thumb">
                    <div class="d-flex">
                        <div>
                            <h3><small>Technical </small></h3>

                        </div>

                    </div>

                    <ul class="pricing-list mt-3">
                        <li class="pricing-list-item">platform for potential customers</li>

                        <li class="pricing-list-item">digital experience</li>

                        <li class="pricing-list-item">high-quality sound</li>

                        <li class="pricing-list-item">standard content</li>
                    </ul>


                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                <div class="pricing-thumb">
                    <div class="d-flex">
                        <div>
                            <h3><small>Skills</small> </h3>

                        </div>
                    </div>

                    <ul class="pricing-list mt-3">
                        <li class="pricing-list-item">platform for potential customers</li>

                        <li class="pricing-list-item">digital experience</li>

                        <li class="pricing-list-item">high-quality sound</li>

                        <li class="pricing-list-item">premium content</li>

                        <li class="pricing-list-item">live chat support</li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>




