
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../../Images/Slider.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

   
</style>
<section>
    <div style="height:80px;">

    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="background-image:url('../../Images/opacity.png'); gap:30px; padding-bottom:50PX; margin-bottom:50PX;">
        <h4 style="margin-top: 40px; color: #EE5007">Your Profile</h4>
        <div class="d-flex col-md-7">
            <div class="col-md-6"><img src="~/Images/faten.jpg" style="border-radius:50%; width:250px" /></div>
            <div class="col-md-6" style=" display: flex; flex-direction: column; justify-content: center; gap: 20px;align-items:center">
                <h5>Faten Kasasbeh</h5>
                <h5>Full Stack Web Developer</h5>
            </div>
        </div>
        <div class="col-md-7 ">
            <p class="text-black fw-bold">
                I am 28 years old, I live in the town of Jdita in Irbid. I studied at Yarmouk University and majored in communication engineering. I have great interest in technology, programming and communications in general. I have ICDL, C++, and MATLAB course, I have a background in Aral-Urduni, and I have a great passion for learning additional languages and practicing them properly.
            </p>
        </div>
        <div class="d-flex col-md-7">
            <div class="col-md-6">
                <h5>Langueges</h5>
            </div>
            <div class="col-md-6" style=" display: flex; flex-direction: column; justify-content: center; gap: 20px;align-items:center">

                <h6> English & Arabic</h6>
            </div>
        </div>
        <div class="d-flex col-md-7">
            <div class="col-md-6">
                <h5>Education</h5>
            </div>
            <div class="col-md-6" style=" display: flex; flex-direction: column; justify-content: center; gap: 20px;align-items:center">

                <h6>
                    Bachelor Of Telecommunication Engineering
                    Yarmouk University 2012-2018
                </h6>
            </div>
        </div>
        <div class="d-flex col-md-7">
            <div class="col-md-6">
                <h5>Soft Skills</h5>
            </div>
            <div class="col-md-6" style=" display: flex; flex-direction: column; justify-content: center; gap: 20px;align-items:center">
                <select>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="d-flex col-md-7">
            <div class="col-md-6">
                <h5>Technical Skills</h5>
            </div>
            <div class="col-md-6" style=" display: flex; flex-direction: column; justify-content: center; gap: 20px;align-items:center">
                <select>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="d-flex col-md-7">
            <div class="col-md-6">
                <h5>Soft Skills</h5>
            </div>
            <div class="col-md-6" style=" display: flex; flex-direction: column; justify-content: center; gap: 20px;align-items:center">
                <select>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="d-flex col-md-7">
            <div class="col-md-6">
<input type="submit" value="Upload Your Project" class="btn custom-btn d-lg-block d-none" />
            </div>
            <div class="col-md-6" style=" display: flex; flex-direction: column; justify-content: center; gap: 20px;align-items:center">
                <input type="submit" value="Edit Your Profile" class="btn custom-btn d-lg-block d-none" />

            </div>
        </div>

    </div>
</section>


