
@{
    ViewBag.Title = "SingleProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-section" id="section_1">
    <div class="section-overlay"></div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-12 mt-auto mb-5 text-center " style="background-image: url('../../Images/Opacity2.png')">
                <small>About</small>

                <h1 class="mb-5" style="color:#EE5007">Orange</h1>
                <h4 class="text-white">Students Projects</h4>
            </div>

        </div>
    </div>

    <div class="video-wrap">

        <img src="~/Images/card3.jpg" class="custom-video" />

    </div>
</section>
<section class=" section-padding">

    <div class="d-flex flex-column" style="align-items:center;gap:30px ;padding-bottom:50px;">
        <h4 style="text-align:center">Shop clothes websit</h4>

        <iframe style="height: 450px" class="col-md-8" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>

    </div>
    <div class="container-fluid" style="background-color: #E6E6E6; padding-bottom:55px;padding-top:55px;">
        <div class="container">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem IpsuLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 19</p>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #4D4848; stdd>

            <div class="layout_padding">
                <div class="container">
                    <h1 class="client_taital">This Project done by</h1>
                    <div class="client_section_2">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="client_main">
                                        <div class="box_left">
                                            <p class="lorem_text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
                                            </p>
                                        </div>
                                        <div class="box_right">
                                            <div class="client_taital_left">
                                                <div class="client_img"><img style="width:150px" src="~/Images/Faten.jpg" /></div>
                                            </div>
                                            <div class="client_taital_right">
                                                <h4 class="client_name">Faten Kasasbeh</h4>
                                                <p class="customer_text">Full Stack</p>
                                            </div>
                                            <br />
                                            <a style=" margin-top: 10px; text-align: center;" class=" customer_text btn custom-btn d-lg-block d-none"> Show More</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

       
    </div>
</section>
<section>
    <div class="container-fluid" ></div>
</section>
<section class="pricing-section section-padding">
    <div class="container">
        <h2 class="text-center mb-4">Other Projects</h2>

        <div class="d-flex" style="justify-content:space-between; flex-wrap:wrap">
            <div class="card" style="width: 18rem; margin-top:10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-top: 10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin-top: 10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin-top: 10px;">

                <video src="https://www.youtube.com/watch?v=8pTnhQlzEUw" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn custom-btn d-lg-block d-none">Go somewhere</a>
                </div>
            </div>


        </div>
    </div>
</section>