<section class="section-hero overlay inner-page bg-image" style="background-image: url('../../template/images/bg.png');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">About Us</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>About Us</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="~/template/images/oran.jpg" alt="Image" class="img-fluid img-shadow">
                </a>
            </div>
            <div class="col-lg-5 ml-auto">
                <h2 class="section-title mb-3">About Coding Academy</h2>
                <p>
                    
                    In light of the increasing demand for qualified programmers in local and regional markets, Orange Jordan took on its shoulders the mission of qualifying a new generation mastering this skill efficiently.

                    The Coding Academy by Orange was launched in June 2019, in partnership with Simplon.co, to offer a free of charge 6-month training courses in coding languages for free, supported by 1-month internship in ICT sector. Every year 50 students, out of thousands of applicants, get the opportunity to join the Academy after passing a very competitive admission process. The employability rate among the first batch of students exceeded 70% which proves the efficiency of the academy’s teaching methodology, curricula and academic staff.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="site-section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0 order-md-2">
                    <img src="~/template/images/ooo.jpeg" alt="Image" class="img-fluid img-shadow">
                </a>
            </div>
            <div class="col-lg-5 mr-auto order-md-1  mb-5 mb-lg-0">
                <h2 class="section-title mb-3"> </h2>
                <p>
                    <ul>
                        <li>  6 months of cost-free training course.</li>
                        <li>  1 month internship in one of the leading IT companies in the Kingdom.</li>
                        <li>  Intensive courses offered by a team of qualified trainers in an active-learning experience, such as: HTML, CSS, JavaScript (React,) PHP (Laravel), Python (Flask).</li>
                        <li>  Networking opportunities with the largest companies in the local and international markets.</li>
                        <li> Access to careers and entrepreneurship training courses in life and administrative skills.</li>
                    </ul>
                   
                </p>
            </div>
        </div>
    </div>
</section>
]